<h1>This are your last created proyects </h1>


<ul>
  <% @projects.each do |project| %>
     <% if project.description != nil %>
       <li><%= link_to(project.name, project_entries_path(project)) + " - #{project.description}" %>
         <a href="<%= project_entries_path(project.id) %>">Entries</a>
       </li>
      <% end %>
  <% end%>
</ul>
