<h1>Contact with me at the next e-mail:</h1>

<p>
  m.figand@gmail.com
</p>

<input type="text" name="e-mail" value="" placeholder="your e-mail"><br>
<input type="text" name="subject" value="" placeholder="the subject"><br>
<input type="text" name="message" value="" placeholder="write a message"><br>
<input type="button" name="submit" value="submit">
